body {
  background: #FFFBE6;
}
.birthcolor{
  background-color: white;
  padding-left: 1%;
  font-size: 30px;
  padding-top : 10px;
  padding-bottom : 10px;
  text-align: center;
}
.colorimg{
  height: 30px;
}
.main{
  height: 500vh;
  /* display: flex; */
  align-items: center;
}

.canvas {
  display: grid;
  height: 100vh;
  width: auto;
  animation: loading 0.5s linear;
  /* margin-top: 10%; */
}
.letter{
  display: inline-block;
  height: 2000px;
  /* width: 50%;
  margin: 0 auto; */
}
.downbtn{
  background-color: #F5BBCE;
  /* opacity: 50%; */
  text-align: center;
  margin-bottom: 500px;
  padding: 30px;
  font-size: xx-large;
}
.images{
  margin-bottom: 1000px;
}


@keyframes loading {
  from {
    scale: 0;
    -webkit-transform: scale(0);
  }

  to {
    scale: 1;
    -webkit-transform: scale(1);
  }
}