@import url("https://fonts.googleapis.com/css?family=Gelasio&display=swap");

body {
  background: #FFFBE6;
}
.birthcolor{
  background-color: white;
  padding-left: 1%;
  font-size: 30px;
  padding-top : 10px;
  padding-bottom : 10px;
  text-align: center;
}
.colorimg{
  height: 30px;
}
.main{
  height: 500vh;
  /* display: flex; */
  align-items: center;
}

.canvas {
  display: grid;
  height: 100vh;
  width: auto;
  animation: loading 0.5s linear;  
  /* margin-top: 10%; */
}
.letter{
  margin-left: 10%;
  padding: 10%;
  /* display: inline-block; */
  height: 2000px;
  /* width: 50%;
  margin: 0 auto; */
}
.downbtn{
  background-color: #F5BBCE;
  /* opacity: 50%; */
  text-align: center;
  margin-bottom: 500px;
  padding: 30px;
  font-size: xx-large;
}
.images{
  margin-bottom: 1000px;
}

* { box-sizing: border-box; }

html { overflow-x: hidden; }

.bar {
  position: absolute;
  /* top: 0;
  left: 0; */

  width: 100%;
  padding: 25px 0;

  background-color: #e74c3c;
  color: white;

  font-family: Gelasio;
  font-size: 18px;
}

.bar_content {
  display: block; /* Important to give the content a width */

  width: 100%;
  transform: translateX(100%); /* Animation start out of the screen */

  /* Add the animation */
  animation: move 30s linear infinite /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to { transform: translateX(-100%); }
}


@keyframes loading {
  from {
    scale: 0;
    -webkit-transform: scale(0);
  }

  to {
    scale: 1;
    -webkit-transform: scale(1);
  }
}