body {
  background: #dcdcdc;
}
.main{
  height: 500vh;
}

.canvas {
  display: grid;
  height: 100vh;
  width: auto;
  animation: loading 0.5s linear;
  /* margin-top: 10%; */
}

@keyframes loading {
  from {
    scale: 0;
    -webkit-transform: scale(0);
  }

  to {
    scale: 1;
    -webkit-transform: scale(1);
  }
}